<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yidoll.multidb.db2.dao.MoneyDao">
    <select id="findMoneyById" parameterType="Integer" resultType="com.yidoll.multidb.entities.Money">
        select * from money where id = #{id}
    </select>
</mapper>